body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  
}

.main{
  width: 100%; /* Adjust the width of the form container */
  background-image: url('./images/image.jpg.jpg'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  color: #fff; /* Set text color to contrast with the background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.center{
  
    margin-bottom: 20px;
}
  
input {
  width: calc(100% - 10px); /* Adjust the width of the input field */
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: #fff;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 15px;
}
.btn:hover{
  background-color: #fff;
      color: #4CAF50;
}
.user-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: lightblue;
}

.user-data-label {
  font-weight: bold;
}

.user-data-value {
  margin-bottom: 5px;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
